@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

:root {
  --primarycolor: #047aed;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  height: 100%;
  justify-content: center;
  align-items: center;
}

body {
  font-family: 'Lato', sans-serif;
  color: #333;
  line-height: 1.6;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #333;
}

h1, h2 {
  font-weight: 300; 
  line-height: 1.2;
  margin: 10px 0;
}

img {
  width: 100%;
}

/* Navbar */
.navbar {
  background-color: var(--primarycolor);
  color: #fff;
}

.navbar .flex {
  justify-content: space-between;
}

.navbar ul {
  display: flex;
}

.navbar a {
  color: white;
  padding: 10px;
  margin: 0 5px;
}

.navbar a:hover {
  border-bottom: 2px #fff solid;
}

/* Showcase */
.showcase, showcase-skills{
  min-height: 400px;
  /* height: 400px; */
  background-color: var(--primarycolor);
  color: white;
  position: relative;
}
/* .showcase .container {
  min-height: 400px;
} */

.showcase-text {
  max-width: 100%;
  min-height: 50px;
  text-align: center;
  margin-bottom: 20px;
}

.showcase h1 {
  font-size: 40px;
}

.showcase p {
  margin: 20px 0;
}

.showcase .grid {
  overflow: visible;
  grid-template-columns: 45% 55%;
  gap: 30px;
}

.showcase-form {
  position: relative;
  top: 60px;
  height: 350px;
  width: 400px;
  padding: 40px;
  z-index: 100;
  justify-self: flex-end;
}

.showcase-form .form-control {
  margin: 30px 0;
}

.showcase-form input[type='text'],
.showcase-form input[type='email'] {
  border: 0;
  border-bottom: 1px solid #b4becb;
  width: 100%;
  padding: 3px;
  font-size: 16px;
}

.showcase-form input:focus {
  outline: none;
}

/* Showcase Skills */

.showcase-skills .flex {
  flex-wrap: wrap;
}

.showcase-skills .container.flex {
  border: 2px dashed lightblue;
  margin: 10px 0 40px 0;
}
.background-h2 {
  display:flex;
  box-shadow: 0 3px 10px rgba(0,0,0,0.5);
  background-color: var(--primarycolor);
  justify-content: center;
  align-items: center;
  min-height: 40px;
  max-width: 500px;
  margin: 1rem auto;
  border-radius: 10px;
}
.showcase-skills h2 {
  color: white;
  max-width: 100%;
}

.showcase-skills .card {
  text-align: center;
  margin: 18px 10px 40px;
  transition: transform 0.2s ease-in;
  max-width: 120px;
  min-height: 150px;
}

.showcase-skills .card.flex {
  border-color: 1px solid  red;
}

/* Media Querys */
@media(max-width: 768px) {
  .grid,
  .showcase .grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .showcase {
    min-height: 100px;
    height: auto;
  }

  .showcase-text {
    text-align: center;
    margin-top: 10px;
  }

  .img-container-primary img {
    max-width: 100%;
    height: auto;
  }

  /* showcase-skills programming
  .showcase-skills .flex {
    flex-direction: column;
  } */
}
/* Mobile */
@media(max-width: 500px) {
  .navbar {
    height: 110px;
  }

  .navbar .flex {
    flex-direction: column;
  }

  .navbar ul {
    padding: 10px;
    background-color: rgba(0,0,0,0.1);
  }

   /* showcase-skills programming
   .showcase-skills .flex {
    flex-direction: column;
  } */
}