@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

:root {
  --primarycolor: #047aed;
  --secondarycolor: azure;
  --thirdcolor: lightblue;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  height: 100%;
  justify-content: center;
  align-items: center;
}

body {
  font-family: 'Lato', sans-serif;
  color: #333;
  line-height: 1.6;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #333;
}

h1, h2 {
  font-weight: 300; 
  line-height: 1.2;
  margin: 10px 0;
}

img {
  width: 100%;
}

/* Navbar */
.navbar {
  background-color: var(--primarycolor);
  color: #fff;
}

.navbar .flex {
  justify-content: space-between;
}

.navbar ul {
  display: flex;
}

.navbar a, .showcase-footer .footer-nav a,
.showcase-projects .grid a {
  color: white;
  padding: 10px;
  margin: 0 5px;
}

.navbar a:hover, .showcase-footer .footer-nav a {
  
}

.navbar a:hover, .showcase-footer .footer-nav a:hover {
  border-bottom: 2px #fff solid;
}

.showcase-projects .grid .project-nav a:hover {
  border-bottom: 2px #fff dashed;
  border-top: 2px #fff dashed;
  border-radius: 10px;
}

.showcase-projects .grid .project-nav a {
  border-left: 2px #fff dashed;
  border-radius: 10px;
}

.showcase-projects .grid .project-nav a {
  border-right: 2px #fff dashed;
  border-radius: 10px;
}
/* Showcase */
.showcase, .showcase-projects, .showcase-footer{
  min-height: 400px;
  background-color: var(--primarycolor);
  color: white;
  position: relative;
}
.showcase {
  padding-bottom: 50px;
} 

.showcase-text {
  max-width: 100%;
  min-height: 50px;
  text-align: center;
  margin: 10px 0;
  text-align: center;
}

.showcase h1 {
  font-size: 40px;
}

.showcase p {
  margin: 20px 0;
}

.showcase .grid {
  overflow: visible;
  grid-template-columns: 45% 55%;
  gap: 30px;
}

.showcase .social.flex {
  justify-content: space-evenly;
  padding: 20px 0;
  border: 1px dashed var(--secondarycolor);
  max-width: 800px;
  margin: 40px auto 0 auto;
}
/* .showcase-footer .social {
  grid-column: 1 / span 2;
  padding-bottom: 30px;

} */

/* showcase skills carousel */
.gallery {
  background: #EEE;
}
.showcase-skills .background-color-secondary.showcase-text {
  font-weight: bold;
  font-size: 2rem;
  margin: 0 0;
  padding-top: 10px;
  text-decoration: underline;
  color: var(--primarycolor);
}

.showcase-skills .container.contain-carousell {
  width: auto;
  min-height: 700px;
  margin: 0 auto;
  overflow: visible;
  padding: 0 0;
}

/* Showcase Skills */
.background-color-secondary {
  /* background-color: var(--secondarycolor); */
  background-color: #fff;
}

.showcase-skills .flex {
  flex-wrap: wrap;
}

.showcase-skills .container.flex {
  border: 2px dashed var(--thirdcolor);
  margin: 10px 0 40px 0;
}
.background-h2 {
  display:flex;
  box-shadow: 0 3px 10px rgba(0,0,0,0.5);
  background-color: var(--primarycolor);
  justify-content: center;
  align-items: center;
  min-height: 40px;
  max-width: 500px;
  margin: 1rem auto;
  border-radius: 10px;
}
.showcase-skills h2 {
  color: white;
  max-width: 100%;
}

.showcase-skills .card {
  text-align: center;
  margin: 18px 10px 40px;
  transition: transform 0.2s ease-in;
  max-width: 120px;
  min-height: 150px;
}

.showcase-skills .card.flex:hover {
  transform: scale(0.98);
}
.showcase-skills .clickable-cards .card.flex:hover {
  border: 1px solid var(--primarycolor);
  transform: scale(1.1);
  cursor: pointer;
}

.clickable-cards {
  text-decoration: none;
}

/* Projects.html */
/* .project-nav {
  background-color: var(--prmarycolor);
  min-height: 40px;
} */

/* .project-nav .card {
  background-color: var(--prmarycolor);
  min-height: 1rem;
  max-width: 1000px;
  width: auto;
  overflow-wrap: anywhere;
} */

/* .showcase-projects */
.showcase-projects .grid a {
  font-size: 1.7rem;
  font-weight: bold;
  overflow-wrap: anywhere;
}
.showcase-projects {
  min-height: 220px;
}
.showcase-projects .container.grid {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.showcase-projects .showcase-text {
  font-size: 1.3rem;
}

.showcase-projects .showcase-text h1 {
  font-size: 5rem;
  text-transform: uppercase;
  background-color: #047fff;
  border: 1px solid var(--secondarycolor);
  border-radius: 50%;
}

.showcase-projects .showcase-text,
.showcase-projects .project-nav {
  grid-column: 1 / 5;
}

.showcase-projects .project-nav {

}

/* showcase-footer */
.showcase-footer {
  padding: 5rem 0;
}
.showcase-footer .grid {
  /* margin: 40px auto; */
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.showcase-footer .footer-nav {
  border-left: 1px solid var(--secondarycolor);
  padding-left: 100px;
}
.showcase-footer .footer-nav a{
  padding: 0 0;
}
.social .fa-github,  .social .fa-linkedin{
  color: #fff;
}
.showcase-footer .social {
  grid-column: 1 / span 2;
  padding-bottom: 30px;
  border-bottom: 1px solid var(--secondarycolor);
}
.showcase-footer .social.flex {
  justify-content: space-evenly;
}

.showcase-footer .img-container-rotty {
  max-width: 150px;
}

/* showcase-skills-section */
.showcase-skills-section .container {
  min-height: 500px;
  margin: 20px auto;
}
/* Media Querys */
@media(max-width: 768px) {
  .grid,
  .showcase .grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .showcase {
    min-height: 100px;
    height: auto;
  }

  .img-container-primary img {
    max-width: 100%;
    height: auto;
  }

  /* showcase-skills programming
  .showcase-skills .flex {
    flex-direction: column;
  } */
}
/* Mobile */
@media(max-width: 500px) {
  .navbar {
    height: 110px;
  }

  .navbar .flex {
    flex-direction: column;
  }

  .navbar ul {
    padding: 10px;
    background-color: rgba(0,0,0,0.1);
  }

   /* showcase-skills programming
   .showcase-skills .flex {
    flex-direction: column;
  } */
}